<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no">
	<title>xxx_页</title>
	<link href="http://img.seeyouyima.com/shenmiao/images/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="../asset/dev/base/vendor.css">
	<link rel="stylesheet" type="text/css" href="../asset/dev/xxx/index.css">
</head>
<body>
	<div id="app" class="reveal"></div>
	<script type="text/javascript" src="../asset/dev/base/vendor.min.js" keeplive></script>
	<script type="text/javascript" src="../asset/dev/xxx/index.js"></script>
</body>
</html>
