@import "~base/config.scss";
.reveal {
	code {
		tab-size: 4;
	}
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	// 弹性布局
	.flex-layout {
		display: flex;
		.flex {
			flex: 1;
			padding-left: 2em;
			&:first-child {
				padding-left: 0;
				padding-right: 2em;
			}
		}
	}
	// 12 列布局
	.col-layout {
		border: 1px solid transparent;
		overflow: hidden;
		%baseCol {
			float: left;
			padding: 0 10px;
		}
		@for $i from 1 to 13 {
			.col-#{$i} {
				@extend %baseCol;
				width: $i/12*100%;
			}
		}
	}
	// 凸显列表：列表的最后一项高亮，其它项灰色
	.nav-list {
		display: block;
		& > :not(:last-child) {
			color: $colorHint;
		}
		// 但是，遇到 fragment 的时候，当前 fragment 项也高亮。
		& > .fragment.current-fragment {
			color: $colorNormal;
		}
	}

	ol,
	ul,
	dl {
		margin: 0 0 .5em;
		padding-right: 1.5em;
		position: relative;
		left: 1.5em;
	}

	.tl {
		text-align: left;
	}
	.tc {
		text-align: center;
	}
	.tr {
		text-align: right;
	}
	.big-img {
		width: 70%;
		display: block;
		&.dib {
			display: inline-block;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: none;
	}
	.cw {
		color: $colorWarning;
	}

	// 步骤图
	.steps {
		list-style-type: none;
		overflow: hidden;
		padding: 50px 0 0;
		position: static;
		& > .one-step {
			float: left;
			border: $bd;
			color: $colorHint;
			border-color: $colorHint;
			width: 30%;
			height: 200px;
			margin: 0 5% 50px 0;
			padding: 20px;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&.current-fragment,
			&:last-child {
				color: $colorNormal;
				border-color: $colorNormal;
			}
		}
		&.free-steps {
			padding: 0;
			& > .one-step {
				border: none;
				padding: 0;
				height: auto;
			}
		}
	}
	// 只显示最后一步
	.one-by-one > .fragment {
		display: none;
		&.current-fragment,
		&:last-child {
			display: block;
		}
	}
}